* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42em;
  background-color: rgb(0, 0, 0);
}
main {
  width: 80%;
}
h4 {
  color: rgb(117, 122, 122);
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 1.5em;
}
#copyboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(34, 33, 37);
  margin-top: 1em;
  margin-bottom: 1em;
  color: rgb(75, 75, 75);
  font-size: 0.8em;
}
#copyboard p {
  margin: 0.5em;
}

#icon {
  color: rgb(65, 249, 188);
  font-size: 1.5em;
}
#icon:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}
#generator {
  padding:0.5em 0.1em;
  background-color: rgb(34, 33, 37);
  color: rgb(220, 220, 220);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
}

#length {
  display: flex;
  justify-content: space-between;
  padding: 0.9em;
}
#length span {
  color: rgb(65, 249, 188);
  font-size: 2em;
}
#length p {
  margin-top: 0.5em;
  font-size: 1.2em;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 90%;
  height: 0.31em;
  margin-left: 5%;
  background: rgb(14, 14, 22);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.43em;
  width: 1.43em;
  border-radius: 50%;
  background: rgb(255, 255, 255);
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: black;
  cursor: pointer;
  border-style: solid;
  border-color: rgb(65, 249, 188);
}
form {
  margin-left: 5%;
  margin-top: 1em;
}
label {
  margin-left: 4%;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  width: 0.81em;
  height: 0.81em;
  border-style: solid;
  border-width: 0.06em;
  border-color: white;
  background-color: rgb(34, 33, 37);
}
input[type="checkbox"]:hover {
  border-color: rgb(65, 249, 188);
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background-color: rgb(65, 249, 188);
  border: none;
}
#indicator {
  display: flex;
  justify-content: space-between;
  margin: 1.2em 3.6%;
  background-color: rgb(14, 14, 22);
  color: rgb(92, 92, 92);
  font-size: calc(1.5em +1vw);
  padding: 4.5% 2%;
}
.difficulty {
  background-color: rgb(14, 14, 22);
  border-style: solid;
  border-width: 0.06em;
  border-color: rgb(255, 255, 255);
  width: 0.6em;
  height: 0.9em;
}
.level {
  background-color: rgb(217, 181, 21);
  border-style: solid;
  border-width: 0.06em;
  border-color: rgb(217, 181, 21);
  width: 0.6em;
  height: 0.9em;
}
#confirmation {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: rgb(65, 249, 188);
  font-size: 1.3em;
  height: 2.3em;
  margin: 2.5vw 4%;
  background-color: rgb(65, 249, 188);
  color: rgb(14, 14, 22);
}
#confirmation:hover {
  background-color: rgb(14, 14, 22);
  color: rgb(65, 249, 188);
  cursor: pointer;
}
