* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42rem;
  background-color: #000000;
}
.container {
  width: 80%;
  max-width: 45rem;
}
h4 {
  color: #757a7a;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 1.5rem;
}
.copyboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222125;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #4b4b4b;
  font-size: 1rem;
}
.copyboard p {
  margin: 0.5rem 1rem;
}

.icon {
  color: #41f9bc;
  font-size: 1.5rem;
}
.generator {
  padding: 0.5rem 0.1rem;
  background-color: rgb(34, 33, 37);
  color: #dcdcdc;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
}

.length {
  display: flex;
  justify-content: space-between;
  padding: 0.9rem;
}
.length span {
  color: #41f9bc;
  font-size: 2rem;
}
.length p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 90%;
  height: 0.31rem;
  margin-left: 1.5rem;
  background: #0e0e16;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.43rem;
  width: 1.43rem;
  border-radius: 50%;
  background: rgb(255, 255, 255);
}
form {
  margin: 1rem;
}
label {
  margin-left: 0.25rem;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  width: 0.8rem;
  height: 0.8rem;
  border-style: solid;
  border-width: 0.06rem;
  border-color: white;
  background-color: rgb(34, 33, 37);
}

input[type="checkbox"]:checked {
  background-color: rgb(65, 249, 188);
  border: none;
}
.indicator {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem;
  background-color: rgb(14, 14, 22);
  color: rgb(92, 92, 92);
  font-size: calc(1.5rem +1vw);
  padding: 1rem 2rem;
}
.difficulty,
.level {
  background-color: rgb(14, 14, 22);
  border-style: solid;
  border-width: 0.06rem;
  border-color: rgb(255, 255, 255);
  width: 0.6rem;
  height: 0.9rem;
}
.level {
  background-color: rgb(217, 181, 21);
  border-color: rgb(217, 181, 21);
}
.confirmation {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: rgb(65, 249, 188);
  font-size: 1.3rem;
  height: 2.5rem;
  margin: 1rem;
  background-color: rgb(65, 249, 188);
  color: rgb(14, 14, 22);
}
@media (min-width: 768px) {
  .copyboard {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .icon:hover {
    color: #ffffff;
    cursor: pointer;
  }
  input[type="range"]::-webkit-slider-thumb:hover {
    background: black;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(65, 249, 188);
  }
  input[type="checkbox"]:hover {
    border-color: rgb(65, 249, 188);
    cursor: pointer;
  }
  .confirmation:hover {
    background-color: rgb(14, 14, 22);
    color: rgb(65, 249, 188);
    cursor: pointer;
  }
}
